.features {
  margin: 134px 0;
}

.features__header {
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  margin: 0;
  text-align: center;

  color: #212353;
}

.features__description {
  font-weight: normal;
  font-size: 23px;
  line-height: 37px;
  margin: 40px 0 54px;
  text-align: center;
  padding: 0 22px;
  color: #4B5D68;
}

@media (min-width: 682px) {
  .features {
    margin: 130px 0;
  }

  .features__header {
    font-size: 40px;
    line-height: 52px;
  }

  .features__description {
    margin: 37px auto 56px;
    width: 85%;
    padding: 0;
  }
}


@media (min-width: 769px) {
  .features__description {
    width: 65%;
  }
}

@media (min-width: $tablet-width) {
  .features {
    margin: 200px 20px;
  }

  .features__description {
    margin: 37px auto 56px;
    width: 650px;;
  }
}
