// style for slider
.slider {
  background: #FFC84D;
  max-width: 682px;
  width: 100%;
  margin: 0 auto;
  padding: 38px 0 25px;
}

.slider__header {
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  margin: 0;
  color: #212353;
}

.slider__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 25px 0;
  color: #4B5D68;
}

.slider__more {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.005em;

  color: #212353;

  svg {
    position: absolute;
    top: 5%;
    right: -55%;
  }
}

.slider__more:hover {
  color: #9C69E2;
}

.slider__item {
  position: relative;
  background: #FFF3D7;
  box-shadow: 0px 10px 0px #F5BD3F;
  border-radius: 50px;
  width: 87%;
  box-sizing: border-box;
  padding: 53px 16px 40px 30px;
  margin: 10px auto;

  .slider__number {
    display: none;
  }
}

.slider__item--new {
  position: relative;

  &:before {
    content: 'NEW';
    position: absolute;
    top: -5px;
    left: 10%;
    background: #F063B8;
    box-shadow: 0px 4px 0px #EFE3C5;
    border-radius: 0px 0px 4px 4px;
    font-size: 18px;
    color: #FFFFFF;
    width: 69px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

//  style for nav
.owl-carousel.owl-theme.slider .owl-dots {
  text-align: center;
  margin-top: 50px;
}

.owl-carousel.owl-theme .owl-dots {
  text-align: center;
}

.owl-carousel.owl-theme .owl-dots span {
  background: #ffffff;
}

.owl-carousel.owl-theme .owl-dots .active span {
  background: #F063B8;
}

@media (min-width: 682px) {
  .slider {
    border-radius: 50px;
  }

  .owl-carousel.owl-theme .owl-dots {
    text-align: left;
    margin-left: 60px;
  }

  .slider {
    padding: 97px 0 50px;
  }

  .slider__item {
    width: 57%;
    padding: 53px 55px 41px 117px;

    .slider__number {
      display: block;
      content: '';
      position: absolute;
      left: -17%;
      top: 4%;
      font-weight: bold;
      font-size: 202px;
      color: #9C69E2
    }
  }

  .owl-carousel.owl-theme.slider .owl-dots {
    text-align: left;
    margin-top: 55px;
    margin-left: 53px;
  }


  .slider__item--new {

    &:before {
      left: 30%;
    }
  }
}

@media (min-width: $tablet-width) {
  // style for slider
  .slider {
    max-width: 1200px;
    width: 100%;
    padding: 97px 0 51px 15px;
    box-sizing: border-box;
  }

  .slider__item {
    width: 66%;
    padding: 50px 78px 41px 100px;
    box-sizing: border-box;

    .slider__number {
      left: -18%;
      top: 5%;
    }
  }

  .owl-carousel.owl-theme.slider .owl-dots {
    margin-top: 57px;
    margin-left: 37px;
  }

  .slider__item--new {

    &:before {
      left: 25%;
    }
  }
}
