.main {
  margin: 134px 0;
}

.features__header {
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  margin: 0;
  text-align: center;

  color: #212353;
}

.features__description {
  font-weight: normal;
  font-size: 23px;
  line-height: 37px;
  margin: 40px auto 54px;
  text-align: center;
  padding: 0 22px;
  color: #4B5D68;
  max-width: 650px;
}

@media (min-width: 682px) {
  .main {
    margin: 130px 0;
  }

  .features__header {
    font-size: 40px;
    line-height: 52px;
  }
}

@media (min-width: $tablet-width) {
  .main {
    margin: 200px 20px;
  }
}