.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 3;
}

.header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: #ffffff;
}

.header__container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 25px;
}

.header__body {
  position: relative;
  display: flex;
  padding: 10px 0;
  align-items: center;
}

.header__logo {
  flex: 0 0 50px;
  position: relative;
  z-index: 3;
  display: block;
  text-decoration: none;
  border: none;
  background: url("../img/logo.svg") no-repeat;
  width: 49px;
  height: 35px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__list {
  display: flex;
  margin-left: 130px;
  position: relative;
  z-index: 2;
}

.header__item {
  margin: 0 23px;
}

.header__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #212353;
}

.header__burger {
  display: none;
}

.header__button {
  position: relative;
  z-index: 2;
  background: #9C69E2;
  text-align: center;
  width: 180px;
  padding: 14px 0;
  display: block;
}

.header__link:hover,
.sub-menu__link:hover {
  color: #9C69E2;
}

.header__button:hover {
  background: #B17FF4;
}


.logo-white {
  display: block;
  text-decoration: none;
  border: none;
  background: url("../img/logo-white.svg") no-repeat;
  width: 55px;
  height: 35px;
}

@media(max-width: 992px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__body {
    justify-content: space-between;
    padding: 20px 0;
  }

  .header__burger {
    cursor: pointer;
    transition: .3s ease-in-out;
  }

  .header__burger span {
    background: #212353;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger::after {
    content: '';
    background: #212353;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:hover {
    opacity: 0.5;
    transition: .3s ease-in-out;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }


  .header__menu {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background: #ffffff;
    padding: 80px 0px 20px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
    margin-left: 0;
    border-top: 1px solid #D6B9FF;
  }

  .header__item {
    margin: 0 0px 0px 0px;
    border-bottom: 1px solid #D6B9FF;
  }

  .header__link {
    font-size: 27px;
    line-height: 75px;
    padding-left: 30px;
  }

  .header__button {
    position: relative;
    z-index: 2;
    background: #9C69E2;
    text-align: center;
    width: 180px;
    padding: 14px 0;
    display: block;
    margin: 30px auto 0;
  }


  .sub-menu {
    position: absolute;
    left: -100%;
    opacity: 0;
    margin: 0;
    border-top: 1px solid #D6B9FF;
    background: #F9F4FF;
    transition: all 0.3s ease 0s;
    z-index: -1;
  }

  .sub-menu__link {
    font-weight: normal;
    font-size: 25px;
    line-height: 68px;
    color: #212353;
    padding-left: 60px;
  }

  .sub-menu.active {
    display: block;
    opacity: 1;
    position: inherit;
    top: 0;
    transition: all 1s ease 0s;
  }

  .arrow {
    position: absolute;
    right: 25px;
    top: 45%;
    width: 20px;
    height: 18px;
    transform: rotate(-90deg);
    cursor: pointer;
  }

  .arrow.active {
    right: 25px;
    top: 30%;
    transform: rotate(0deg);
    cursor: pointer;
  }

  .arrow__small {
    display: none;
  }

  .arrow__big {
    display: block;
  }
}

@media(min-width: 993px) {
  .header__item {
    padding: 30px 0;
  }

  .sub-menu {
    display: inherit;
    position: absolute;
    left: 32%;
    top: 59px;
    opacity: 0;
    transition: .3s ease-in-out;
    transform: scale(0);
    width: 169px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #9C69E2;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px #E2CEFE;
    padding: 5px 0 5px 30px;
  }

  .header__item--arrow:hover .sub-menu {
    position: absolute;
    opacity: 1;
    transition: .3s ease-in-out;
    transform: scale(1);
    left: 32%;
    top: 80px;
    background: #FFFFFF;
    border: 1px solid #9C69E2;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px #E2CEFE;
    width: 169px;
    border-radius: 10px;
  }


  .sub-menu__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    color: #212353;
  }

  .sub-menu__link:hover {
    color: #9C69E2;
  }

  .sub-menu::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #9C69E2;
    background: #fff;
    border-width: 1px 0 0 1px;
    transform: rotate(45deg);
    top: -11px;
    left: 36%;
  }

  .sub-menu:before {
    content: inherit;
    position: inherit;
    background: none;
    border-top: none;
    width: 0%;
    height: 0%;
    left: 0%;
    z-index: -1;
  }

  .header__item--arrow .arrow {
    position: absolute;
    right: 42%;
    top: 16%;
    width: 10px;
    height: 5px;
    transform: rotate(0deg);
    cursor: pointer;
    padding: 30px 0;
  }

  .header__item--arrow:hover .arrow {
    right: 42%;
    top: 16%;
    transform: rotate(180deg);
    cursor: pointer;

    svg path {
      fill: #9C69E2;
    }
  }


  .arrow__small {
    display: block;
  }

  .arrow__big {
    display: none;
  }
}